<!-- <div class="row">
<div id = "boxes">
    <div id = "leftbox" class="animate">
        <div class="card">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
    <div id = "middlebox" class="animate">
        <div class="card">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
    <div id = "rightbox" class="animate">
        <div class="card">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
</div>
<div id = "boxes">
    <div id = "leftbox" class="animate">
        <div class="card">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
    <div id = "middlebox" class="animate">
        <div class="card">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
    <div id = "rightbox" class="animate">
        <div class="card">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
</div>
</div> -->

<div class='center-container'>
    <main class="grid">
      <section class="bg-c1 c1 sect-column">
        <header class="f-col">
          <span class='txt-huge'> 94% </span>
          <span class='txt-small'>
            <b>Success Rate Complex Surgery</b> has been achieved
          </span>
        </header>
        <span class="line-sep-up flex-space-between">
          <span class="">India</span> <span class="">🌐</span></span>
      </section>
      <section class="bg-c2 sect-column">
        <span class="line-sep-down"> Total patient </span>
        <span class='txt-big'> 7.2 Millions </span>
      </section>
      <section class="bg-c3 special-1  sect-column svg-arrow white">
        <span class='txt-mid'> </span>
        <span class='txt-small'> </span>
      </section>
      <section class="bg-c4 special-2 flex-wide-center big-gap">
        <span class="sect-column ">
          <span class="txt-small">Max time</span>
          <span class='txt-big'>04:50</span>
        </span>
        <span class="sect-column">
          <span class="txt-regular">Lightening Emergency Reach</span>
          <span class='bold'>
            #Grey_health
          </span>
        </span>
      </section>
      <section class="bg-c5 sect-column svg-arrow black">
        <span class='txt-big'>8</span>
        <span>
          Years Expertise </span>
        <span>...</span>
      </section>
  
      <section class="bg-c6 sect-column">
        <span class='txt-small'>Health</span>
        supportcom
      </section>
    </main>
  </div>