<div class="container mt-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="card-title">Location Master</h4>
  
        <!-- Form to add a new role -->
        <form (ngSubmit)="addLocation()">
          <div class="form-group">
            <label for="roleName">Location Name</label>
            <input
              type="text"
              id="roleName"
              class="form-control"
              [(ngModel)]="newLocation.location_name"
              name="roleName"
              required
            />
          </div>
  
          <div class="form-group">
            <label for="roleAlias">Location Alias</label>
            <input
              type="text"
              id="roleAlias"
              class="form-control"
              [(ngModel)]="newLocation.locations_alias"
              name="roleAlias"
              required
            />
          </div>
  
          <button *ngIf="!newLocation.id" type="submit" class="btn btn-success mt-3">Add Location</button>
          <button *ngIf="newLocation.id" type="submit" class="btn btn-success mt-3">Update Location</button>
        </form>
        <!-- Table displaying added roles -->
        <table class="table table-hover table-bordered mt-4">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>Location Name</th>
              <th>Location Alias</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of locations; index as i">
              <td>{{ i + 1 }}</td>
              <td>{{ role.location_name }}</td>
              <td>{{ role.locations_alias }}</td>
              <td class="text-center">
                <button class="btn btn-warning btn-sm mr-2" (click)="editLocation(role.id)">Edit</button>
                <button class="btn btn-danger btn-sm" (click)="removeLocation(role.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  